@model AddNewRewardVM

@{
    ViewData["Title"] = "Add Reward";
    SelectList SponsorOptions = new SelectList(Model.Sponsors, "Id", "Name");
}
@if (User.Identity.IsAuthenticated)
{
    <div class="container mt-4">
        <h2>➕ Add New Reward</h2>
        <hr />
        <form asp-action="Create" method="post">
            @Html.AntiForgeryToken()

            <div class="mb-3">
                <label asp-for="Title" class="form-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="RewardType" class="form-label"></label>
                <input asp-for="RewardType" class="form-control" />
                <span asp-validation-for="RewardType" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Description" class="form-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="PointsRequired" class="form-label"></label>
                <input asp-for="PointsRequired" class="form-control" type="number" />
                <span asp-validation-for="PointsRequired" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="QuantityAvailable" class="form-label"></label>
                <input asp-for="QuantityAvailable" class="form-control" type="number" />
                <span asp-validation-for="QuantityAvailable" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="ExpirationDate" class="form-label"></label>
                <input asp-for="ExpirationDate" class="form-control" value="" type="date" />
                <span asp-validation-for="ExpirationDate" class="text-danger"></span>
            </div>

            <label asp-for="Sponsors" class="control-label"></label>
            <select asp-for="SponsorId" asp-items="SponsorOptions" class="form form-control">
                <option value="">--Select Sponsor--</option>
            </select>
            <span asp-validation-for="SponsorId" class="text-danger"></span>

            <button type="submit" class="btn btn-success">Save</button>
            <a asp-action="Index" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
}
