@model Tourist_Project_MVC.View_Model.sponsorViewModel

@{
    ViewData["Title"] = "Edit";
    //SelectList RewardtList = new SelectList(Model.Rewards, "Id", "Title");
}


<div class="container mt-4">
    <h2>✏️ Edit Sponsor</h2>
    <hr />
    
        <form asp-action="Edit" asp-controller="Sponsor">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="mb-3">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Type" class="control-label"></label>
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="ContactInfo" class="control-label"></label>
                <input asp-for="ContactInfo" class="form-control" />
                <span asp-validation-for="ContactInfo" class="text-danger"></span>
            </div>
            <!--
                <div class="mb-3">
                <label asp-for="Rewards" class="control-label"></label>
                <select asp-for="RewardId" asp-items="RewardtList" class="form form-control">
                    <option value="">--Select Sponsor--</option>
                </select>
                <span asp-validation-for="Rewards" class="text-danger"></span>
                </div>
            -->
            
            <div class="mb-3">
                <input type="submit" value="Update" class="btn btn-warning" />
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    
</div>

<div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
