@model Tourist_Project_MVC.View_Model.MissionWithDeptListVM

@{
    ViewData["Title"] = "Create";
    SelectList destItems = new SelectList(Model.destinations, "Id", "Name");
}

<h1>Create</h1>

<hr />
<div class="container mt-4">
    <h4>➕ Add New Mission</h4>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-3">
                <label asp-for="MissionType" class="control-label"></label>
                <input asp-for="MissionType" class="form-control" />
                <span asp-validation-for="MissionType" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="PointsReward" class="control-label"></label>
                <input asp-for="PointsReward" class="form-control" />
                <span asp-validation-for="PointsReward" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="DestinationId" class="control-label"></label>
                <select asp-for="DestinationId" asp-items="destItems" class="form form-control">
                    <option value="">--Select Destination--</option>
                </select>
            </div>
            <div class="mb-3">
            <input type="submit" value="Save" class="btn btn-success" />
            <a asp-action="Index" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
</div>