@model Tourist_Project_MVC.View_Model.MissionWithDeptListVM

@{
    ViewData["Title"] = "Edit";
    SelectList destList = new SelectList(Model.destinations, "Id", "Name");
}

@if (User.Identity.IsAuthenticated)
{
    <div class="container mt-4">
    <h2>✏️ Edit Mission</h2>
    <hr />
    
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="mb-3">
                <label asp-for="MissionType" class="control-label"></label>
                <input asp-for="MissionType" class="form-control" />
                <span asp-validation-for="MissionType" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="PointsReward" class="control-label"></label>
                <input asp-for="PointsReward" class="form-control" />
                <span asp-validation-for="PointsReward" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="DestinationId" class="control-label"></label>
            <Select asp-for="DestinationId" asp-items="destList" class="form-select">
                    <option value="">--Select Destination--</option>
                </select>
            </div>
            <div class="mb-3">
            <input type="submit" value="Update" class="btn btn-warning" />
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    
</div>
}


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
